<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <title>Some Website</title>
</header>
    <body>
        {{> header}}
        <p>Some Text Here...</p>
        {{> footer}}
    </body>
</html>